<section class="jumbotron text-center bg-light p-3">
  <h1>{{title}}</h1>
  <p class="lead">Jot down ideas for your project.</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add your ideas</a>
</section>